body
{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei" , sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    color: #333;
}

/*.logo
{
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 59px;
    z-index: 10;
    padding-left: 10px;
    background-color: #56C5FF;
    line-height: 60px;
    border-bottom: solid 1px #e7e7e7;
}

.logo a
{
    color: #777;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.layout
{
    width: 100%;
    min-width: 800px;
    height: auto;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border: none;
}

.left
{
    width: 150px;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f8f8f8;
    vertical-align: top;
}

.right
{
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border-left: solid 1px #e7e7e7;
    background-color: #fff;
    vertical-align: top;
}*/

.Container
{
	width: 1135px;
	height: auto;
	margin: 0px auto;
	padding: 15px auto;
	border: none;
}
/* 文件头部*/
.Header
{
	width: 100%;
	height: 60px;
	margin: 0 auto 10px auto;
	border: none;
	padding: 0;
	position: relative;
	clear: both;
}
.Logo
{
	width: 250px;
	background-position: left;
	background-image: url(jdf_logo.png);
	background-repeat: no-repeat;
}
.Title
{
	width: auto;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: Red;
	vertical-align: middle;
}
.Personal
{
	font-size: 12px;
	width: 250px;
	height: 60px;
	vertical-align: bottom;
	text-align: right;
}

/* Menu */

.Menu
{
	margin: 0;
	padding: 0;
	width: 1135px;
	height: 30px;
	border: none;
	background: #56C5FF;
}
.Menu ul
{
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}
.Menu ul li
{
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.Menu ul li a, .Menu ul li a:visited
{
	display: block;
	text-align: center;
	text-decoration: none;
	width: 140px;
	height: 30px;
	color: #000;
	border-right: 1px solid #fff;
	background: #56C5FF;
	line-height: 30px;
	font-size: large;
}
.Menu ul li:hover a
{
	color: #fff;
	background: #1B58B8;
}
.Menu ul li ul
{
	display: none;
}
.Menu ul li:hover ul
{
	display: block;
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
}
.Menu ul li:hover ul li a
{
	display: block;
	background: #faeec7;
	color: #000;
	border-right: 0;
}
.Menu ul li:hover ul li a:hover
{
	background: #dfc184;
	color: #000;
	display: block;
}


/* MainBody */

.MainBody
{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

/* Footer */
.Footer
{
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 0;
	font-size: 12px;
	background-color: #56C5FF;
}
.Footer a
{
	font-family: Microsoft Yahei,Arial,sans-serif;
	font-size: 12px;
	color: #000;
	margin: 0 0 5px 5px;
	padding: 0 0 5px 5px;
	text-decoration: none;
}
.Footer a:hover
{
	color: Blue;
}

/*SubTittle*/

.SubTitle
{
	width: 100%;
	height: 60px;
	border-bottom: 4px solid #0099FF;
	margin: 0 0 5px 0;
	padding: 0;
}
.SubTitleTable
{
	width: 20%;
	height: 60px;
	border: none;
	line-height: 60px;
	font-size: 26px;
	color: rgb(65,65,65);
	font-family: Microsoft Yahei,Arial,sans-serif;
}
.ToolsTable
{
	width: 80%;
	height: 60px;
	vertical-align: bottom;
}
.Tools
{
	width: 100%;
	margin-bottom: 10px;
	height: 25px;
	text-align: right;
	font-family: Microsoft Yahei,Arial,sans-serif;
}

/*ToolButtons*/

.ToolButton
{
	height: 25px;
	width: auto;
	display: inline-block;
	margin: 0px 5px 0px 5px;
	padding: 0 2px 0 2px;
	border: none;
	line-height: 25px;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	color: #000;
	font-family: Microsoft Yahei,Arial,sans-serif;
	font-size: 13px;
	background-color: #56C5FF;
}
.ToolButton:hover
{
	background-color: #0099FF;
	color: white;
}
.ButtonCycle
{
	cursor: pointer;
	font-family: Microsoft Yahei,Arial,sans-serif;
	font-size: 13px;
	outline: none;
	margin: 0px 5px 0px 0px;
	padding: 0 2px 0 2px;
	height: 25px;
	line-height: 25px;
	border: none;
	background-color: rgb(0,222,255);
	width: 25px;
}
.ButtonCycle:hover
{
	background-color: #0099FF;
	color: white;
}
.ButtonCycle:disabled
{
	color: #000;
	background-color: rgb(0,222,255);
}
.ButtonCycle:disabled:hover
{
	background-color: #0099FF;
	color: white;
}
.SearchButton
{
	height: 23px;
	width: auto;
	display: inline-block;
	margin: 0 10px;
	padding: 0 10px;
	line-height: 23px;
	border: none;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	color: #000;
	font-family: Microsoft Yahei,Arial,sans-serif;
	font-size: 14px;
	background-color: rgb(0,222,255);
}
.SearchButton:hover
{
	background-color: #0099FF;
	color: white;
}

.ToolInput
{
	height: 23px;
	line-height: 23px;
	width: 150px;
	font-family: Microsoft Yahei,Arial,sans-serif;
	font-size: 12px;
	outline: none;
	margin: 0px;
	padding: 0px 0px 0px 10px;
	border: solid 1px rgb(0,222,255);
}

.dialogbtn
{
	display: inline-block;
	margin:0 5px;
	width:36px;
	height:20px;
	color:White;
	text-align:center;
	border:none;
	cursor: pointer;
	text-decoration:none;
	outline:none;
	background-color:rgb(66,139,202);
	color:White;
}

/*Content*/
.Content
{
	width: 100%;
	margin: 5px 0 5px 0;
	padding: 0;
	border: none;
	height: auto;
}
.ContentLeft
{
	width: 70%;
	vertical-align: top;
	border: 1px solid rgb(221,221,221);
	padding: 0;
	margin: 0;
}
.ContentRight
{
	width: 30%;
	vertical-align: top;
	border: 1px solid rgb(221,221,221);
	padding: 0;
	margin: 0;
}
.Aside
{
	width: 100%;
	margin: 0 0 5px 0;
}
.DataTitle
{
	width: 100%;
	height: 25px;
	line-height: 25px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: rgb(227,227,227);
	font-family: Microsoft Yahei,Arial,sans-serif;
	font-size: 15px;
	text-align: center;
}
.DataView
{
	width: 100%;
	height: auto;
	text-align: center;
	margin: 0 auto;
	padding: 20px 0;
	border: none;
	font-family: Microsoft Yahei,Arial,sans-serif;
	font-size: 14px;
}

/*SubMenu*/
.SubMenu
{
	width: 100%;
	text-align: center;
	height: 50px;
	margin: 10px auto 0 auto;
	padding: 0;
	background-color: rgb(227,227,227);
	border-top: 2px solid rgb(227,227,227);
}
.SubView
{
	width: 1133px;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	height: auto;
	border-left: 1px solid rgb(221,221,221);
	border-right: 1px solid rgb(221,221,221);
	border-bottom: 1px solid rgb(221,221,221);
}
.View
{
	width: 98%;
	margin: 20px auto;
	padding: 0 auto;
	text-align: center;
	font-size: 14px;
}
.View p
{
	text-align:left;
	font-weight:bold;
}
.MenuButton
{
	display: inline-block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	background-color: #56C5FF;
	color: #000;
	cursor: pointer;
	font-family: Microsoft Yahei,Arial,sans-serif;
	font-size: 15px;
	text-decoration: none;
	outline: none;
	border: none;
	margin: 0 10px 0 0;
	padding: 0;
}
.MenuSelected
{
	width: 120px;
	height: 50px;
	line-height: 50px;
	background-color: #FFF;
	color: #000;
	cursor: pointer;
	font-family: Microsoft Yahei,Arial,sans-serif;
	font-size: 15px;
	outline: none;
	border: none;
	margin: 0 10px 0 0;
	padding: 0;
}
.MenuButton:hover
{
	background-color: #0099FF;
}

.ConfirmButton
{
	font-size: 15px;
	font-family: Microsoft Yahei;
	border: none;
	width: 70px;
	color: #FFF;
	background-color: #0099FF;
	height: 35px;
	margin: 0px;
}
.ConfirmButton:hover
{
	background-color: blue;
}
/*Form*/
.FormDivBg
{
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #99ffff;
	filter: alpha(opacity=60);
	opacity: 0.6;
}
.FormDiv
{
	position: absolute;
	display: none;
	top: 0;
	left: 238px;
	width: 600px;
	height: auto;
	border: 1px solid #0066FF;
	margin: 10px;
	font-family: Microsoft Yahei,Arial,sans-serif;
	z-index: 200;
}
.FormTitle
{
	width: 100%;
	height: 25px;
	line-height: 25px;
	margin: 0;
	padding: 5px 0px;
	border: none;
	background-color: #0099FF;
	font-size: 15px;
	text-align: center;
}
.FormInput
{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}
.FormBody
{
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding: 12px 0;
	font-size: 14px;
	font-family: Microsoft Yahei,Arial,sans-serif;
}
.FormBody p
{
	margin: 12px 0;
}
.FormBody table tr
{
	margin: 0;
	padding: 10px 0;
}
.FormFooter
{
	width: 100%;
	height: 35px;
	line-height: 25px;
	margin: 0;
	padding: 0px;
	border: none;
	background-color: #0099FF;
	font-size: 15px;
	text-align: center;
}

/*Calendar*/

.Calendar
{
	position: absolute;
	display: none;
	top: 60px;
	left: 360px;
}

/*Input*/

.InputStyle
{
	margin: 0 0 0 5px;
	padding: 0;
	height: 25px;
	font-family: Microsoft Yahei,Arial,sans-serif;
	font-size: 14px;
}

.TextboxStyle
{
	margin: 0px 0px 0px 5px;
	padding: 0px;
	height: 19px;
	font-family: Microsoft Yahei,Arial,sans-serif;
	font-size: 14px;
}
.fontlink
{
	color: rgb(0,222,255);
	text-decoration: none;
}
.fontlink:hover
{
	color: #0055FF;
}

.zoomimg
{
	display: none;
	position: absolute;
	width: 500px;
	height: 440px;
	z-index: 90;
	margin: 0 auto;
	padding: 0 auto;
	border: none;
	cursor: url(../App_Themes/Main/small.cur);
}

.news
{
	display: none;
	position: absolute;
	top: 0px;
	width: 300px;
	height: 25px;
	line-height: 25px;
	color: #FFFFFF;
	text-align: center;
	background-color: rgb(0,175,232);
}
.news:hover
{
	background-color: #0099FF;
}


/*/////////GridView样式////////////////////////*/
.gridtable
{
	width: 100%;
	border: solid 1px rgb(160,160,160);
}

.gridtitle
{
	border-bottom: 2px solid rgb(160,160,160);
	padding: 8px;
	font-weight: bold;
}

.griditem
{
	border: 1px solid rgb(160,160,160);
	padding: 8px;
	text-align: left;
	vertical-align:middle;
}

.griditemcenter
{
	border: 1px solid rgb(160,160,160);
	padding: 8px;
	text-align: center;
	vertical-align:middle;
}

.moreinfo
{
	display:block;
	width:100%;
	text-align:right;
	color:Gray;
	cursor:pointer;
}
.moreinfo:hover
{
	color:Black;
}

.HideButton
{
	width: 20px;
	height: 20px;
	border: none;
	background-color: #fff;
}
.HideButton:hover
{
	background-color: #fff;
}

.status
{
	float:left;
	width:auto;
	height:20px;
	margin:0px;
	padding:0px 2px;
	line-height:20px;
	border:none;

}
.switch
{
	position:relative;
	width:100px;
	height:20px;
	margin:0px;
	padding:0px;
	border:solid 1px rgb(204,204,204) ;
}
.open
{
	position:absolute;
	top:0px;
	left:0px;
	width:50px;
	height:20px;
	line-height:20px;
    text-align:center;
	border:none;
	background-color:rgb(66,139,202);
	text-decoration:none;
	outline:none;
	color:White;
}
.close
{
	position:absolute;
	top:0px;
	left:50px;
	width:50px;
	height:20px;
	line-height:20px;
	text-align:center;
	border:none;	
	background-color:rgb(230,230,230);
	text-decoration:none;
	outline:none;
	color:Black;
}